#!/bin/bash

cd /usr/local/src/
tar xvfz nginx-{{ nginx_version }}.tar.gz
{{ ruby_location }}/bin/passenger-install-nginx-module --auto --prefix="{{ nginx_location }}" --nginx-source-dir="/usr/local/src/nginx-{{ nginx_version }}" --extra-configure-flags="{{ nginx_extra_configure_flags }}"
