server {
  listen 80 default_server;
  server_name imgur-display.local;

  root {{ imgur_display_location }}/current/public;

  access_log {{ imgur_display_location }}/shared/log/nginx-access.log;
  error_log  {{ imgur_display_location }}/shared/log/nginx-error.log;

  passenger_enabled on;
  passenger_user    www-data;
  passenger_group   www-data;
  rack_env          production;
}
